<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="./assets/site.css">
    <link rel="manifest" href="./manifest.json">
    <link rel="icon" href="./favicon.ico" sizes="32x32">
</head>
<body>
    <h1>Photo gallery</h1>

    <% if(pictures && pictures.length > 0){ %>
        <div class="container">
            <% pictures.forEach(picture => { %>
                <div class="caption"><%= picture.caption %></div>
                <img class="picture" src="<%= picture.data.toString('base64') %>" alt="Description">
            <% }); %>
        </div>
    <% } else{ %>
        <p>No pictures</p>
    <% } %>

    <button onclick="window.location.href = './camera.html';">Camera</button>
    <button onclick="window.location.href = './index.html';">Home</button>
</body>
</html>
